.header-top {
  position: relative;
  z-index: 9;
  border-bottom: 1px solid rgba(229, 237, 239, 0.2);
  color: #fff;
  box-sizing: border-box;

  .container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 50px;

    .logo-wrapper {
      max-width: 265px;
      img {
        height: 100%;
        width: 100%;
      }
    }

    .header-top-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      gap: 20px;
      padding-top: 40px;
    }
  }
}
body.dark-theme {
  .header-top {
    background-color: rgb(16, 1, 152);
    color: #fff;
  }

  .language-select {
    background-color: #a5acff;
    border-radius: 8px;
    border: 1px solid #212121;
    margin-right: -20px;
    color: #000;
    padding: 7px 8px;
    cursor: pointer;
    font-size: large;

    &:hover,
    &:focus {
      border-color: #00caff;
    }
  }
}

.css-13cymwt-control,
.css-1nmdiq5-menu {
  background-color: inherit !important;
}

.css-13cymwt-control {
  min-height: 5px !important;
}

//navbar
body.dark-theme {
  background-color: #2c3e50;
  color: #fff;
}

.navbar {
  position: relative;
  z-index: 10;
  width: 100%;
  margin-right: -83px;
  background-color: rgb(16, 1, 94);
  box-sizing: border-box;
  text-transform: uppercase;
  clip-path: polygon(2.5% 0, 100% 0, 100% 100%, 0% 100%);

  .container {
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between !important;
    padding: 12px;
    align-items: center;
    width: 100%;
  }

  &__left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .navbar__link {
      color: var(--navbar-link-color);
      margin-right: 20px;
      font-size: 20px;
      font-weight: 400;

      &:hover {
        color: #00caff;
        transition: 0.3s;
      }
    }
  }
}

.css-99wn1p-MuiList-root-MuiMenu-list {
  padding: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #2c3e50 !important;
  color: #fff !important;
}

.menuitem {
  &:hover {
    cursor: pointer;
    color: #00caff;
    transition: 0.3s;
  }
}

body.dark-theme {
  --navbar-bg-color: #34495e;
  --navbar-link-color: #ededed;
  --navbar-text-color: #fff;
}
