.contact-page {
  margin-top: 100px;
  min-height: 80vh;
  background: url("../img/contactbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &__container {
    max-width: 1200px; /* Kattalikni biroz qisqartirdik */
    margin:100px auto;
    padding: 30px 0; /* Paddingni kichraytirdik */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
  }
  &__title{
    color: white !important;
  }

  &__form-container {
    flex: 1;
    max-width: 380px; /* Maksimal kenglikni kichraytirdik */
    padding: 15px; /* Paddingni qisqartirdik */
    background-color: inherit;
    color: #000;
    box-shadow: 0 0 8px rgba(36, 35, 35, 0.993); /* Soya o'lchami kichraytirildi */
    color: white !important;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Oraliqni qisqartirdik */

    &-group {
      margin-bottom: 10px; /* Qisqartirish */

      label {
        display: block;
        margin-bottom: 3px; /* Oraliqni kichraytirdik */
        font-size: 14px; /* Kattalikni kichraytirdik */
        font-weight: bold;
        color: white;
      }

      input,
      textarea {
        width: 100%;
        padding: 8px; /* Paddingni qisqartirdik */
        border-radius: 6px; /* Radiusni kichraytirdik */
        background-color: #f8f9fa;
        color: #000;
        border: 1px solid #ccc;
        font-size: 14px; /* Matn o'lchamini qisqartirdik */
      }

      textarea {
        resize: none;
        height: 50px; /* Balandlikni kichraytirdik */
      }
    }
  }

  &__title {
    font-size: 24px; /* Matn kattaligini qisqartirdik */
    font-weight: 600; /* Qalinlikni ozgina pasaytirdik */
    line-height: 30px;
    margin-bottom: 20px; /* Oraliqni qisqartirdik */
    color: #000;
  }

  &__submit {
    align-items: center;
    background-color: #217cff !important;
    border: 1px solid #0a97bc;
    color: #fff;
    border-radius: 10px; /* Radiusni kichraytirdik */
    cursor: pointer;
    display: flex;
    font-size: 14px; /* Matn o'lchamini qisqartirdik */
    font-weight: 500;
    gap: 8px; /* Oraliqni qisqartirdik */
    justify-content: center;
    padding: 12px 16px !important; /* Paddingni qisqartirdik */
    text-align: center;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: #000000 !important;
      transition: all 0.3s ease-out;
    }
  }

  &__image {
    img {
      max-height: 600px; /* Rasmlarning maksimal balandligini kamaytirdik */
      max-width: 500px; /* Maksimal kenglikni qisqartirdik */
      border-radius: 12px; /* Radiusni kichraytirdik */
    }
  }
}

input:-internal-autofill-selected {
  background-color: #1d2e34 !important;
  color: #fff !important;
  border: 1px solid #0095ff !important;
}
