.contact-page {
  background: url("../img/contactbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    max-width: 1380px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
  }
  &__form-container {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff; /* Kun rejimi uchun orqa fon rangi */
    color: #000; /* Kun rejimi uchun matn rangi */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Yengil soya */
    color: #fff;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #000; /* Kun rejimi uchun label rangi */
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        background-color: #f8f9fa; /* Kun rejimi uchun input va textarea orqa fon rangi */
        color: #000; /* Kun rejimi uchun matn rangi */
        border: 1px solid #ccc;
      }

      textarea {
        resize: none;
      }
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 40px;
    color: #000;
  }

  &__submit {
    align-items: center;
    background-color: #217cff !important;
    border: 1px solid #0a97bc;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 600px;
    gap: 10px;
    justify-content: center;
    padding: 15px 20px !important;
    text-align: center;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: #000000 !important; /* Kun rejimi hover holatda */
      transition: all 0.3s ease-out;
    }
  }

  &__image {
    img {
      max-height: 810px;
      max-width: 682px;
      border-radius: 18px;
    }
  }
}

input:-internal-autofill-selected {
  background-color: #1d2e34 !important;
  color: #fff !important;
  border: 1px solid #0095ff !important;
}
