#services {
  border-radius: 0px;
  margin-top: 100px;
  background-color: rgb(41, 41, 131);

  .container {
    width: 1200px;
    margin: 100px auto;
  }

  .services__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .business-slider__item {
    width: auto !important;
    height: 250px;
    flex-direction: column;
  }
}


.servise__data{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.servise__region{
  background-color: rgb(33, 33, 108);
  width: 100%;
  padding: 5px 10px ;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
}