/* Light Mode */
body.light-theme {
  background-color: #fff;
  color: #000;

  .navbar__contact__flex {
    span {
      color: #000;
    }
  }
}

/* Dark Mode */
body.dark-theme {
  background-color: #2c3e50;
  color: #fff;
}

.navbar {
  background-color: var(--navbar-bg-color);
  box-sizing: border-box;

  &__icon-darkmode {
    transition: transform 0.3s ease, color 0.3s ease;
    &:hover {
      transform: rotate(360deg);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    max-width: 1380px;
    margin: 0 auto;
  }

  &__left {
    display: flex;
    align-items: center;
    .navbar__link {
      color: var(--navbar-link-color);
      margin-right: 20px;

      &:hover {
        color: #00caff;
        transition: 0.3s;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 30px;

    .navbar__search {
      display: flex;
      align-items: center;
      background-color: #3a95a5;
      border-radius: 30px;
      padding: 0.5rem 1rem;
      width: 300px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

      .MuiIconButton-root {
        color: white;
        padding: 0;
      }

      input {
        border: none;
        outline: none;
        background: none;
        color: white;
        padding-left: 0.5rem;
        font-size: 1rem;
        width: 100%;

        &::placeholder {
          color: white;
        }
      }
    }

    .navbar__contact {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      color: var(--navbar-text-color);
      min-height: 40px;

      &__flex {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 180px;
        height: 20px;
        line-height: 19px;
        font-size: 14px;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    .navbar__theme-switch {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.css-99wn1p-MuiList-root-MuiMenu-list {
  padding: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #2c3e50 !important;
  color: #fff !important;
}

.menuitem {
  &:hover {
    cursor: pointer;
    color: #00caff;
    transition: 0.3s;
  }
}

body.light-theme {
  .css-99wn1p-MuiList-root-MuiMenu-list {
    background-color: #f8f9fa !important;
    color: #212529 !important;

    a {
      color: #1667b9 !important;
    }
  }

  .menuitem {
    &:hover {
      cursor: pointer;
      color: #0056b3;
      transition: 0.3s;
    }
  }

  .navbar__search {
    background-color: #dde5ed;
    input {
      background-color: #e0e5eb;
      color: #000 !important;

      &::placeholder {
        color: #6c757d;
      }
    }
  }

  --navbar-bg-color: #f8f9fa;
  --navbar-link-color: #007bff;
  --navbar-text-color: #212529;
}

body.dark-theme {
  --navbar-bg-color: #34495e;
  --navbar-link-color: #fff;
  --navbar-text-color: #fff;
}

.navbar__icon-darkmode {
  &:hover {
    color: #ff4500; /* Hoverda alohida rang */
  }
}

.navbar__icon-darkmode {
  transition: transform 0.3s ease;
  &:hover {
    transform: rotate(360deg);
  }
}
