.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh !important;
  background-image: url("../../../img/introbg2.jpg");
  background-size: cover;
  z-index: 10;

  .intro2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 47, 47, 0.3);
    position: absolute;
    z-index: 11;
  }
}
