.comments {
  background-color: rgb(11, 0, 159); /* Tun rejimi uchun fon rangi */
  color: #fff;
  padding: 20px;
  position: relative;
  border-radius: 22px;
  overflow: hidden;
  padding-bottom: 50px;
  margin-bottom: 100px;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__name{
    text-transform: uppercase !important;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    gap: 7px;
  }

  &__item {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000;
    padding: 13px;
    border-radius: 10px;
    width: 350px !important;
    height: 180px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    position: relative;

    .comments__star {
      font-size: 25px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__avatar {
    width: 60px !important;
    height: 60px !important;
    margin-right: 10px;
  }

  &__info {
    .comments__name {
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  &__text {
    font-size: 12px;
    margin: 10px 0;
    color: #c5c5c5;
    height: 32px;
  }

  &__rating {
    display: flex;
  }

  .slick-slider {
    position: relative;

    .slick-dots {
      bottom: -30px; /* nuqtalar pastda bo'lishi uchun */
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      background-color: #00c3ff;
      border: none;
      padding: 5px 10px;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;

      &.slick-prev {
        left: -40px;
      }

      &.slick-next {
        right: -40px;
      }

      &:hover {
        background-color: #00a1d4;
      }
    }

    .slick-prev:before,
    .slick-next:before {
      display: none; /* default belgilarni o'chirish */
    }
  }
}

.comments .slick-slider .slick-arrow {
  display: none !important;
}
