* {
  margin: 0;
  padding: 0;
  font-family: "Unbounded", sans-serif !important;
  box-sizing: border-box;
}

:root {
  --accent-color: #0a97bc !important;
  --bgDark: #f5fbfd;
  --tableHead: #f5fbfd;
  --tableBody: #fff;
  --bgLight: #fff;
  --title: #2a3437;
  --text: #4b5a5f;
  --map-table-trush: #000;
  --prColor: #0a97bc;
  --done: #0a97bc1a;
  --employee-modal-bg: #f2f9fc;
  --employee-star-bg: #e5edef;
  --employee-close: #2a3437;
  --cancelModal: #000;
  --status: #fbf0f0;
  --statusText: #d24242;
  --num: #4b5a5f;
  --jobs-item: #fff;
  --shadow: rgba(144, 173, 248, 0.25);
  --shadow-service: rgba(181, 186, 197, 0.25);
  --back: #eaf3f6;
  --back-svg: invert(0);
  --bg-modal: #fff;
  --x-btn: #2a3437;
  --modal-text: #89999e;
  --input-border: #e5edef;
  --bg-input: #f2f9fc;
  --input-placeholder: #bdcbcf;
  --caret: url(./caret.beb1c8eb.svg);
  --service: none;
  --modal-border: #e5edef;
  --modal-placeholder: #bdcbcf;
  --number-shadow: 0 9px 18px 0 rgba(144, 173, 248, 0.25);
  --map-btn: #eef4f8;
  --mapModalEmpty: #e7f7e8;
  --mapModalBusy: #fbf0f0;
  --table-checkbox: #f5fbfd;
  --table-btn-border: #e4ecef;
  --dark-shadow: rgba(144, 173, 248, 0.25);
  --back-btn-bac: #eaf3f6;
  --back-btn-img: invert(1);
  --mapModalEmptyColor: #0aae1b;
  --modal-bg: #f5fbfd;
}

.dark-mode {
  --accent-color: #0a97bc !important;
  --cancelModal: #ff6a6a;
  --status: #5d3434;
  --bgDark: #1d2e34;
  --bgLight: #334248;
  --tableHead: #334248;
  --tableBody: #27343a;
  --statusText: #fff;
  --title: #fff;
  --text: hsla(0, 0%, 100%, 0.8);
  --num: #fff;
  --jobs-item: #35454a;
  --shadow: rgba(0, 0, 0, 0.25);
  --shadow-service: rgba(0, 0, 0, 0.25);
  --back: #35454a;
  --back-svg: invert(1);
  --bg-modal: #1d2e34;
  --x-btn: #ff6a6a;
  --modal-text: #fff;
  --input-border: hsla(0, 0%, 100%, 0.3);
  --bg-input: #27343a;
  --input-placeholder: hsla(0, 0%, 100%, 0.3);
  --caret: url(./caret-white.9ef1ba4f.svg);
  --service: 0 6px 12px 0 rgba(0, 0, 0, 0.25);
  --modal-border: hsla(0, 0%, 100%, 0.3);
  --modal-placeholder: hsla(0, 0%, 100%, 0.3);
  --employee-modal-bg: #1d2e34;
  --employee-star-bg: #35454a;
  --employee-close: #ef3232;
  --done: #0a97bc1a;
  --map-table-trush: #ff6a6a;
  --number-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25);
  --map-btn: #03161d;
  --mapModalEmpty: #1b3b31;
  --mapModalEmptyColor: #0df824;
  --mapModalBusy: #5d3434;
  --table-checkbox: #334248;
  --table-btn-border: #47555a;
  --dark-shadow: #1d2e34;
  --back-btn-bac: #334248;
  --back-btn-img: invert(0);
  --modal-bg: #03161d;
}
::-webkit-scrollbar {
  width: 12px;
}
*,
:after,
:before {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  background: #f5fbfd;
  background: var(--bgDark);
  color: #2a3437;
  display: flex;
  flex-direction: column;
  font-family: "Unbounded", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 16px;
}

a {
  text-decoration: none;
}

a,
button {
  color: #fff;
  cursor: pointer;
}

button {
  border: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

a,
button {
  color: #fff;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1380px;
  padding: 0 12px;
  width: 100%;
}

.menu-languages {
  align-items: center;
  display: flex;
  gap: 24px;

  .language-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;

    img {
      max-width: 24px;
      width: 100%;
    }
  }
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #0a97bc);
  background: linear-gradient(transparent, var(--prColor));
  border-radius: 6px;
}

body {
  min-width: 1380px;
  margin: 0;
}

.container {
  max-width: 1380px; /* Har doim 1024px bo'lib qoladi */
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1380px;
  }
}

@media (orientation: portrait) {
  .container {
    max-width: 1380px;
  }
}

@media (orientation: landscape) {
  .container {
    max-width: 1380px;
  }
}
